.aboutMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    /* background-color: #f9f9f9; */
  }
  
  .imageContainer {
    flex: 1;
    max-width: 50%;
  }
  
  .imageWrapper {
    text-align: center;
  }
  
  .imageWrapper img {
    max-width: 70%;
    height: auto;
    border-radius: 10px 0px 12rem 12rem;
  }

  .cta {
    display: flex;
    align-items: center;
  }

  .ctaButton {
    display: inline-block;
    padding: 12px 30px;
    background-color: #10b98b;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
  }
  
  .ctaButton:hover {
    background-color: white;
    color: #10b98b;
  }
  
  .socialIcons {
    display: flex;
    margin-left: 30px;
    font-size: 15px;
  }
  
  .socialIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
    color: #10b98b;
    padding: 8px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .socialIcon:hover {
    background-color: #10b98b;
    color: #ffffff;
  }
  
  .contentContainer {
    flex: 1;
    max-width: 50%;
    padding: 0 20px;
  }
  
  .content {
    max-width: 450px;
  }
  
  .subtitle {
    color: #10B98B;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: sans-serif;

  }
  
  .heading {
    font-size: 41px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #333232;
    font-family: sans-serif;
  }
  
  .description {
    font-style: italic;
    color: #666;
    margin-bottom: 30px;
    font-family: sans-serif;
  }
  
  .countersSection {
    margin-bottom: 30px;
  }
  
  .countersContainer {
    display: flex;
    justify-content: space-between;
  }


  .counterWrapper {
    text-align: center;
  }
  
  .counterNumber {
    font-size: 35px;
    font-weight: 600;
    margin-top: 10px;
    line-height: .5;
    color: #10B98B;
  }
 
  .counterTitle {
    font-size: 15px;
    font-weight: bold;
    line-height: 2.5;
    color: #504f4fd3;
    font-family: sans-serif;
  }
   .spacer {
    height: 20px;
  }
  
  .ctaSection {
    display: flex;
    align-items: center;
  }
  
  /* .hireButton {
    display: inline-block;
    padding: 15px 30px;
    background-color: #10B98B;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    margin-right: 20px;
  } */
  
  /* .socialIconsWrapper {
    display: flex;
  }
  
  .socialIconWrapper {
    margin-right: 10px;
  } */
  
  /* .socialLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    color: #10B98B;
    text-decoration: none;
  }
   */
  .srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  @media (max-width: 768px) {
    .aboutMe {
      flex-direction: column;
      padding: 50px 0;
    }
  
    .imageContainer,
    .contentContainer {
      max-width: 100%;
    }
  
    .content {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .countersContainer {
      flex-direction: column;
    }
  
    .counterWrapper {
      margin-bottom: 20px;
    }
  
    .ctaSection {
      flex-direction: column;
      align-items: flex-start;
    }
  
    /* .hireButton {
      margin-bottom: 20px;
    } */
  }
  